@model IEnumerable<TaskManager.Tasks>

<div class="Tasks">
    @foreach (var Task in Model.Take(100))
    {
        <i ng-controller="OpenTask" ng-click="ClickedTask(@Task.TaskId)" id="@Task.TaskId">
            <div>@Task.Title</div><br />
            <div class="d-disc">@Task.Description</div>
            <div class="d-date">
                <b>Дата:</b> @Task.TaskTerm.Day/@Task.TaskTerm.Month/@Task.TaskTerm.Year
            </div>
            <div class="d-status"><b>Cтатус:</b> @Task.StatusString</div>
        </i>

    }
</div>