@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}
@model TaskManager.USERS
<div class="auth-block">
    <h2>Регистрация</h2>
    <a href="@Url.Action("Index","Account")" class="backToAuth"></a>

    @using (Html.BeginForm("Registration", "Account", FormMethod.Post))
    {
        
        <div class="item-block">
            @Html.TextBoxFor(x => x.FIRST_NAME, new { @placeholder = @Html.DisplayNameFor(model => model.FIRST_NAME) })
            @Html.ValidationMessageFor(x => x.FIRST_NAME)
        </div>
        <div class="item-block">
            @Html.TextBoxFor(x => x.LAST_NAME, new { @placeholder = @Html.DisplayNameFor(model => model.LAST_NAME) })
            @Html.ValidationMessageFor(x => x.LAST_NAME)
        </div>
        <div class="item-block">
            @Html.TextBoxFor(x => x.LOGIN_NAME, new { @placeholder = @Html.DisplayNameFor(model => model.LOGIN_NAME) })
            @Html.ValidationMessageFor(x => x.LOGIN_NAME)
        </div>
        <div class="item-block">
            @Html.TextBoxFor(x => x.EMAIL, new { @placeholder = @Html.DisplayNameFor(model => model.EMAIL) })
            @Html.ValidationMessageFor(x => x.EMAIL)
        </div>
        <div class="item-block">
            @Html.PasswordFor(x => x.PASS, new { @placeholder = @Html.DisplayNameFor(model => model.PASS) })
            @Html.ValidationMessageFor(x => x.PASS)
        </div>
        <div class="item-block">
            @Html.PasswordFor(x => x.PASSConfirm, new { @placeholder = @Html.DisplayNameFor(model => model.PASSConfirm) })
            @Html.ValidationMessageFor(x => x.PASSConfirm)
        </div>
        // CAPCHA
        <img src="@Url.Action("GetCapthcaImage", "Account")" class="Capcha" />
        <div class="item-block">
            @Html.TextBoxFor(x => x.CAPCHA, new {@placeholder = @Html.DisplayNameFor(model => model.CAPCHA)})<br/>
            @Html.ValidationMessageFor(x => x.CAPCHA)
        </div>
        //
        <input type="submit" value="Зарегистрироваться" class="btn-registration" />
    }
</div>